@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html, body, header, .about{
    height: 100%;
}
html{
    font-size: 24px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.nav-wrap{
    display: flex;
    background-color: black;
    height: 20%;
    align-items: center;
}
.top-nav{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.header-wrap{
    height: 80%;
    background: url(header.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header-top, .header-bottom{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top{
    flex-direction: column;
}
.header-bottom .header_btn:nth-child(1){
    margin-right: 100px;
}
.header-bottom .header_btn:nth-child(2){
    margin-left: 100px;
}
.about{
    color: black;
}
.about_top h1{
    font-size: 96px;
}
.about_top p{
    font-size: 25px;
}
.about_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.about_img{
    height: 256px;
    width: 256px;
}
.about_bottom{
    height: 50%;
    font-size: 25px;
    display: flex;

}
.about_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.about_img, .about_top h1{
    margin-bottom: 40px;
}
.footer{
    height: 500px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer_inside{
    height: 100%;
    width: 36%;
}
.footer_inside h1{
    font-size: 36px;
    text-align: center;
    margin-top: 71px;
    margin-bottom: 81px;
}
.footer_inside p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 57px;
}
.social_img img{
    height: 53px;
    width: 53px;
    transition: 0.3s linear;
}
.social_img{
    display: flex;
    justify-content: space-around;
    margin-bottom: 68px;
}
.copyright{
    font-size: 14px !important;
}
.social_img img:hover{
    transform: scale(1.2);
}